body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color:#FFFFFF;
    margin: 0;
}
img {
    display: block
}
.hdr{
    border-bottom: 1px solid #e7e9fc;
}
.container{
    display: flex;
    width: 1158px;
    margin: 0 auto;
    padding: 0 15px;
}
.log {
    font-family: "Raleway", sans-serif;
    font-weight: 700 ;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
}
.logo-span {
    color: #2e2f42;
}
.ul-nav0{
    font-weight: 500;
    font-size: 16;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
}
.ul-nav:hover,
.ul-nav:focus{
    color: #404bbf;
}
.ul-nav{
    color: #2e2f42;
}
ul{
    list-style-type: none;
}
.nav-header{
    font-style: normal;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color:  #2e2f42;
    display: flex;
    align-items: center;
}
.address-header{
    font-style: normal;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
}
.ul-address0{
    font-weight: 500;
    font-size: 16;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
}
.ul-address:hover,
.ul-address:focus{
    color: #404bbf;
}
.ul-address{
    color: #434455;
}
.sect-one{
    background-color:#2e2f42;
}
.h-one-sect-one{
    font-size: 56px ;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em ;
    color: #ffffff;
}
.button-sect-one{
    background-color: #4D5AE5;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5 ;
    letter-spacing: 0.04em;
    color: #ffffff;
    cursor: pointer
}
.button-sect-one:hover,
.button-sect-one:focus{
    background-color: #404BBF;
}
.sect-two-h-three{
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}
.sect-two-p{
    line-height: 1.5;
    letter-spacing: 0.02em
}
.sect-three{
    background-color: #F4F4FD;
}
.sect-three-h-two{
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2e2f42;
}
.ul-three{
    background-color: #FFFFFF
}
.sect-three-h-three{
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}
.sect-three-p{
    line-height: 1.5;
    letter-spacing: 0.02em;
}
.sect-four{
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2e2f42;
}
.sect-h-three{
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}
.sect-p{
    line-height: 1.5;
    letter-spacing: 0.02em
}
.ftr {
    background-color: #2e2f42;
    text-align: center;
    
}     
.ftr-logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700 ;
     font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
}

.ftr-span {
    color: #f4f4fd;
}
.ftr-p {
    line-height: 1.5;
    color: #F4F4FD;
    letter-spacing: 0.02em;
}