*{box-sizing:border-box;}

            /* Загальне */

body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color:#FFFFFF;
    margin: 0;
}

a {
    text-decoration: none;
}

span {
    text-decoration: none;
}

p {
    margin: 0;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

.container{
    width: 320px;
    margin: 0 auto;
    padding: 0 15px;
    
}

ul{
    list-style-type: none;
    padding:0 16px;
    margin:0;
}

.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    padding: 0;
    border: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    clip-path: inset(100%);
    
}

@media screen and (min-width: 768px) {
    .container{
        width: 768px;
        padding: 0 16px;
    }
}

@media screen and (min-width: 1158px) {
    .container{
        width: 1158px; 
        padding: 0 15px;
    }
}

        /* header */


.fdr{
    border-bottom: 1px solid #e7e9fc;
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.container-hdr{
    display: flex;
    align-items: center;
    
}

.ul-nav , .address-header{
    display: none;
}

.log {
    font-family: "Raleway", sans-serif;
    font-weight: 700 ;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    margin-left: 16px;
    
}

.hdr-log {
  padding: 16px 0;
  display: block;
}

.hdr-log .logo-span {
  color: #2e2f42;
}

.burger-btn {
  padding: 0;
  border: none;
  background-color: transparent;
  margin-right: auto;
}

.burger-icon {
  display: block;
  fill: #2f2f37;
}

@media screen and (min-width: 768px) {
  .burger-btn {
    display: none;
  }

  .nav-header {
    display: flex;
    align-items: center;
  }

  .ul-nav {
    display: flex;
    align-items: center;
    gap: 40px;
  }

  .hdr-log {
    padding: 24px 0;
    margin-right: 120px;
  }

  .a-nav {
    display: block;
    padding: 24px 0;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .a-nav.current {
    position: relative;
  }

  .a-nav.current::after {
    content: '';

    position: absolute;
    left: 0;
    bottom: -1px;

    width: 100%;
    height: 4px;
    border-radius: 2px;

    background-color: #404bbf;
  }

  .address-header {
    font-style: normal;
    display: block;
  }

  .ul-address {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }

  .li-address {
    display: block;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #434455;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .a-nav:hover,
  .a-nav:focus,
  .li-address:hover,
  .li-address:focus,
  .a-nav.current {
    color: #404bbf;
  }
}

@media screen and (min-width: 1158px) {
  .hdr-log {
    margin-right: 76px;
  }

  .ul-address {
    flex-direction: row;
    align-items: center;
    gap: 40px;
  }

  .li-address {
    padding: 24px 0;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
  }
}

/* mobile menu */

.mobile-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;

  opacity: 0;
  visibility: hidden;
  pointer-events: none;

  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.mobile-menu-container {
  position: relative;
  padding-top: 72px;
  padding-bottom: 40px;

  display: flex;
  flex-direction: column;
  height: 100%;
}

.mobile-menu-close {
  position: absolute;
  top: 24px;
  right: 24px;
}

.mobile-menu-button-svg{
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu-close:hover .mobile-menu-button-svg,
.mobile-menu-close:focus .mobile-menu-button-svg{
    fill: #ffffff;
}

.mobile-menu-nav {
  margin-bottom: auto;
}

@media screen and (min-width: 768px) {
  .mobile-menu {
    display: none;
  }
}

.mobile-menu-ul-nav{
  width: 151px;
  height: 200px;

}


.mobile-menu-il-nav{
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 36px;
  line-height: 111%;
  letter-spacing: 0.02em;
  color: #2e2f42;

}

.mobile-menu-il-nav:hover,
.mobile-menu-il-nav:focus{
    color: #404bbf;
}

            /* Секція 1  */

